:root {
  --dk-gray-100: #f3f4f6;
  --dk-gray-200: #e5e7eb;
  --dk-gray-300: #d1d5db;
  --dk-gray-400: #9ca3af;
  --dk-gray-500: #6b7280;
  --dk-gray-600: #4b5563;
  --dk-gray-700: #374151;
  --dk-gray-800: #1f2937;
  --dk-gray-900: #111827;
  --dk-dark-bg: #313348;
  --dk-darker-bg: #2a2b3d;
  --navbar-bg-color: #6f6486;
  --sidebar-bg-color: #252636;
  --sidebar-width: 250px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Sen', sans-serif;
}

body {
  font-weight: normal;
  background-color: var(--dk-gray-100);
  font-size: 0.925rem;
}

.loading-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  overflow: hidden;
  background: #fff;
  z-index: 4;
  height: 100vh;
  width: 100vw;
}

.loading-text {
  font-size: 24px;
  margin-bottom: 10px;
}

.loading-dots-container {
  display: flex;
  align-items: center;
}

.loading-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black;
  margin: 0 5px;
  animation: dot-pulse 1s ease-in-out infinite;
}

@keyframes dot-pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

#wrapper {
  margin-left: var(--sidebar-width);
  transition: all 0.3s ease-in-out;
}

#wrapper.fullwidth {
  margin-left: 0;
}

/** --------------------------------
 -- Sidebar
-------------------------------- */
.sidebar {
  background: linear-gradient(to top, #0b2b76 10%, #001431);
  width: var(--sidebar-width);
  transition: all 0.3s ease-in-out;
  transform: translateX(0);
  z-index: 99999;
}

.sidebar .close-aside {
  position: absolute;
  top: 7px;
  right: 7px;
  cursor: pointer;
  color: #eee;
}

.sidebar .sidebar-header {
  border-bottom: 1px solid #2a2b3c;
}

.sidebar .sidebar-header h5 a {
  color: var(--dk-gray-300);
}

.sidebar .sidebar-header p {
  color: var(--dk-gray-400);
  font-size: 0.825rem;
}

.sidebar .search .form-control ~ i {
  color: #2b2f3a;
  right: 40px;
  top: 22px;
}

.sidebar > ul > li {
  padding: 0.7rem 1.75rem;
}

.sidebar ul > li > a {
  color: #eee;
  text-decoration: none;
}

.img-fluid {
  border-radius: 0px 10px 0px 10px;
  border: 2px #001431 solid;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 14px 10px rgba(0, 0, 0, 0.1);
}
/* Start numbers */
.sidebar ul > li > a > .num {
  line-height: 0;
  border-radius: 3px;
  font-size: 14px;
  padding: 0px 5px;
}

.sidebar ul > li > i {
  font-size: 18px;
  margin-right: 0.7rem;
  color: #eee;
}
.sidebar ul > li.icon-container:hover {
  background-color: #001431;
}
.sidebar ul > li.has-dropdown:hover {
  background-color: #001431;
}
.sidebar ul > li.has-dropdown > ul > li:hover {
  border-color: #0b2b76;
}
.sidebar ul > li.has-dropdown > a:after {
  content: '\eb3a';
  font-family: unicons-line;
  font-size: 1rem;
  line-height: 1.8;
  float: right;
  color: #eee;
  transition: all 0.3s ease-in-out;
}

.sidebar ul .opened > a:after {
  transform: rotate(-90deg);
}

/* Start dropdown menu */
.sidebar ul .sidebar-dropdown {
  padding-top: 10px;
  padding-left: 30px;
  display: none;
}
.sidebar ul .sidebar-dropdown.active {
  display: block;
}

.sidebar ul .sidebar-dropdown > li > a {
  font-size: 0.85rem;
  padding: 0.5rem;
  padding-left: 1rem;
  display: block;
}
.sidebar ul .sidebar-dropdown > li:hover {
  background-color: #0b2b76;
  border-radius: 0px 7px 0px 7px;
}
/* End dropdown menu */

.show-sidebar {
  transform: translateX(-270px);
}

@media (max-width: 767px) {
  .sidebar ul > li {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .sidebar .search {
    padding: 10px 0 10px 30px;
  }
}

/** --------------------------------
 -- welcome
-------------------------------- */
.welcome {
  color: var(--dk-gray-300);
}

.welcome .content {
  background-color: #0b2b76;
  border-radius: 0px 20px 0px 20px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 40px 10px rgba(0, 0, 0, 0.1);
}

.welcome p {
  color: var(--dk-gray-400);
}

/** --------------------------------
 -- Statistics
-------------------------------- */
.statistics {
  color: var(--dk-gray-200);
}

.statistics .box {
  background-color: #001431;
  border-radius: 0px 20px 0px 20px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 40px 10px rgba(0, 0, 0, 0.1);
}
.statistics .box:hover {
  background-image: linear-gradient(340deg, #001431, #d40808);
  background-size: 100% 200%;
  animation: gradient 5s ease-in-out infinite;
}
@keyframes gradient {
  0% {
    background-position: 200 0;
  }
  25% {
    background-position: 0 100%;
  }
  50% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 100%;
  }
}

.statistics .box i {
  width: 60px;
  height: 60px;
  line-height: 60px;
  background-color: #d40808;
  border-radius: 0px 20px 0px 20px;
}

.statistics .box p {
  color: var(--dk-gray-400);
}

/** --------------------------------
 -- Charts
-------------------------------- */
.charts .chart-container {
  background-color: #001431;
  border-radius: 0px 20px 0px 20px;
}

.charts .chart-container h3 {
  color: var(--dk-gray-400);
}

/** --------------------------------
 -- users
-------------------------------- */
.admins .box .admin {
  background-color: var(--dk-dark-bg);
}

.admins .box h3 {
  color: var(--dk-gray-300);
}

.admins .box p {
  color: var(--dk-gray-400);
}

/** --------------------------------
 -- statis
-------------------------------- */
.statis {
  color: var(--dk-gray-100);
}

.statis .box {
  position: relative;
  overflow: hidden;
  border-radius: 3px;
  transition: all 0.5s ease-in-out;
}
.statis .box:hover {
  background-color: rgba(255, 255, 255, 0.12);
  border-radius: 0px 20px 0px 20px;
}

.statis .box h3:after {
  content: '';
  height: 2px;
  width: 70%;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.12);
  display: block;
  margin-top: 10px;
}

.statis .box i {
  position: absolute;
  height: 70px;
  width: 70px;
  font-size: 22px;
  padding: 15px;
  top: -25px;
  left: -25px;
  background-color: rgba(0, 0, 0, 0.15);
  line-height: 60px;
  text-align: right;
  border-radius: 50%;
}

.main-color {
  color: #ffc107;
}

/** --------------------------------
 -- Please don't do that in real-world projects!
 -- overwrite Bootstrap variables instead.
-------------------------------- */

.navbar {
  background-color: #001431 !important;
  border: none !important;
}
.navbar .dropdown-menu {
  right: auto !important;
  left: 0 !important;
  border-radius: 0px 10px 0px 10px;
  background: linear-gradient(to top, #0b2b76 10%, #001431);
  border: 2px solid #eee;
  /* box-shadow: 0 5px 5px 0 #001431; */
}
.dropdown-menu a {
  color: #eee;
}
.dropdown-divider {
  line-height: 10px;
  margin-bottom: 10px;
  color: #eee;
  box-shadow: 0 5px 5px 0 #eee;
}
.navbar .navbar-nav > li > a {
  color: #eee !important;
  line-height: 55px !important;
  padding: 0 10px !important;
}
.navbar .navbar-brand {
  text-transform: capitalize;
  color: #fff !important;
}
.navbar .navbar-nav > li > a:focus,
.navbar .navbar-nav > li > a:hover {
  color: #eee !important;
}

.navbar .navbar-nav > .open > a,
.navbar .navbar-nav > .open > a:focus,
.navbar .navbar-nav > .open > a:hover {
  background-color: transparent !important;
  color: #fff !important;
}

.navbar .navbar-brand {
  line-height: 55px !important;
  padding: 0 !important;
}
.navbar .navbar-brand:focus,
.navbar .navbar-brand:hover {
  color: #fff !important;
}
.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
  margin: 0 !important;
}
@media (max-width: 767px) {
  .navbar > .container-fluid .navbar-brand {
    margin-left: 15px !important;
  }
  .navbar .navbar-nav > li > a {
    padding-left: 0 !important;
  }
  .navbar-nav {
    margin: 0 !important;
  }
  .navbar .navbar-collapse,
  .navbar .navbar-form {
    border: none !important;
  }
}

.navbar .navbar-nav > li > a {
  float: left !important;
}
.navbar .navbar-nav > li > a > span:not(.caret) {
  background-color: #e74c3c !important;
  border-radius: 50% !important;
  height: 25px !important;
  width: 25px !important;
  padding: 2px !important;
  font-size: 11px !important;
  position: relative !important;
  top: -10px !important;
  right: 5px !important;
}
.dropdown-menu > li > a {
  padding-top: 5px !important;
  padding-right: 5px !important;
}
.navbar .navbar-nav > li > a > i {
  font-size: 18px !important;
}
.menu {
  display: none;
}
/* Start media query */

@media (max-width: 767px) {
  #wrapper {
    margin: 0 !important;
  }
  .statistics .box {
    margin-bottom: 25px !important;
  }
  .navbar .navbar-nav .open .dropdown-menu > li > a {
    color: #ccc !important;
  }
  .navbar .navbar-nav .open .dropdown-menu > li > a:hover {
    color: #fff !important;
  }
  .navbar .dropdown-menu {
    position: absolute;
    background-color: transparent;
  }
  .dropdown-menu a {
    color: #eee;
  }
  .dropdown-divider {
    color: #eee;
  }
  .navbar .navbar-toggle {
    border: none !important;
    color: #eee !important;
    font-size: 18px !important;
  }
  .navbar .navbar-toggle:focus,
  .navbar .navbar-toggle:hover {
    background-color: transparent !important;
  }
  .burger {
    display: none;
  }
  .menu {
    display: flex;
    font-style: normal;
  }
}

::-webkit-scrollbar {
  background: transparent;
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #3c3f58;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
/* #myButton {
  background-color: #008cba;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
} */
.modal {
  display: none;
  position: fixed;
  z-index: 999999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  /* background-color: #fefefe; */
  margin: 10em auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  border-radius: 10px;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
