#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  background: #fff;
  z-index: 1;
  display: flex;
  flex-direction: column-reverse;
  font-family: 'Sen', sans-serif;
  font-size: 14px;
  font-weight:bold;
}
#loading > .d-box {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 0px 25px 0px 25px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.box1 {
  background-color: #001431;
  top: 30%;
  left: 44%;
  animation: skew 1s linear infinite;
}
.box2 {
  background-color: #d40808;
  bottom: 46%;
  right: 44%;
  animation: scale 1s linear infinite;
}
.loading-container {
  padding: 10em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loading-text {
  font-size: 24px;
  margin-bottom: 10px;
}

.loading-dots-container {
  display: flex;
  align-items: center;
}

.loading-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black;
  margin: 0 5px;
  animation: scale 1s ease-in-out infinite;
}

@keyframes scale {
  0% {
    transform: translateX(0.9px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(9px);
  }
  100% {
    transform: translateX(0.9px);
  }
}
@keyframes skew {
  0% {
    transform: translateY(0.9px);
  }
  50% {
    transform: translateY(5px);
  }
  75% {
    transform: translateY(6px);
  }
  100% {
    transform: translateY(0.9px);
  }
}

@keyframes sce {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
  }
}
