#bg {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  font-family: 'Sen', sans-serif;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #0b2b76 10%, #001431);
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  padding-block-start: 20px;
  gap: 80%;
  position: absolute;
  width: 100%;
  z-index: 0;
}

.navbar-brand a {
  font-size: 24px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.navbar-icons {
  font-size: 18px;
}

.navbar-icons a {
  color: #fff;
  text-decoration: none;
  margin-left: 10px;
}

.navbar-icons a:hover {
  color: #ccc;
}

.fa-times {
  font-size: larger;
}
.form .login-form .alert {
  margin-bottom: 10px;
  padding: 10px !important;
  top: 0;
  left: 0;
  transform: translateY(-50%, -50%);
  color: #d48080;
  text-align: center !important;
}
h1 {
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}
.login-form {
  position: relative;
  z-index: 1;
  margin: 0 auto;
}

.login-form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 5px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  font-size: 16px;
}
.login-page .form .text-center {
  position: fixed;
  bottom: 20px;
  left: 0;
  width: 100%;
  margin-bottom: 50px;
  text-align: center;
}
.login-page .form input[type='text']:focus,
.login-page .form input[type='password']:focus {
  box-shadow: 4px 2px 10px rgba(0, 0, 0, 0.5);
}
/* animasi */
.form {
  position: absolute;
  /* z-index: 1; */
  background: #ffffff;
  height: 480px;
  border-radius: 5px;
  text-align: center;
  padding: 40px;
  border-radius: 0px 50px 0px 50px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  transition: all 0.5s ease-in-out;
}

.form:hover {
  border-radius: 50px 0px 50px 0px;
}

form label {
  display: block;
  text-align: left;
  color: #555;
}
.form input,
.form label {
  border-radius: 2px 20px 0px 2px;
}

.form input[type='submit'] {
  float: right;
  opacity: 0;
  transform: translateZ(100px);
  width: 60%;
  border-radius: 5px;
  transition: all 0.7s ease-in-out;
}
.form input[type='submit']:hover {
  border-radius: 0px 12px 0px 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
}
.form:hover input[type='submit'] {
  opacity: 1;
  transform: translateY(0);
}

form input[type='submit'] {
  font-family: 'Sen', sans-serif;
  background-color: #182848;
  color: #fff;
  margin-block: 0;
  /* padding: 10px 20px; */
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.social-icons {
  padding-top: 2em;
}

@media (max-width: 575px) {
  nav {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }
  .navbar-brand a {
    font-size: 18px;
  }

  .navbar-icons {
    font-size: 18px;
  }

  .fa-times {
    font-size: 24px;
  }
  .login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .login-page .form .text-center {
    /* position: fixed; */
    bottom: 0;
    left: 0;
    width: 100%;
    margin-bottom: 10em;
    text-align: center;
  }
}
